.slideshow{max-width: 1000px;position: relative;margin: auto;}
.slides {display: none}
.slides > img {width:100%}
.fade {-webkit-animation-name: fade;-webkit-animation-duration: 2.5s;animation-name: fade;animation-duration: 2.5s;}
@keyframes fade {from {opacity: .1;} to {opacity: 9;}}